# 数据库配置（默认连接到远程服务器）
DB_HOST=49.234.182.250
DB_PORT=133075
DB_NAME=healthineersvisualization
DB_USER=root1
DB_PASSWORD=wzProJe@@cT!Dro#dSSaPIfU73==39@

# 服务配置
PORT=8000
MODEL_DIR=models/
DATA_DIR=data/

# 模型更新配置
UPDATE_THRESHOLD=30   # 新增记录数达到此值才触发重训
